header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 37.5px 0; /* figma: 50px */
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-item-container > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.menu-item-container ul li a {
  color: var(--Dark-02);
  font-size: 0.84rem; /* figma: 16px */
  font-weight: 500;
  line-height: 19.5px; /* figma: 26px */
}
.banner-texts {
  text-align: center;
  max-width: 651px; /* figma: 868px */
  margin: 0 auto;
  margin-bottom: 52.5px; /* figma: 70px */
  margin-top: 76.5px; /* figma: 102px */
}
.banner-heading {
  color: var(--Dark-01);
  font-size: 3rem; /* figma: 64px , 48*/
  font-weight: 700;
}
.banner .common-description {
  margin: 24px 0 /* figma: 32px , 24*/;
}

.banner-image {
}

.banner-image img {
  width: 100%;
  max-width: 1080px;
}

/* Team Section Start */
.teams .container {
  padding: 50px 45px;
  display: flex;
  gap: 50px; /*figma: 76px*/
  justify-content: space-between;
  align-items: center;
}
.team-image-container {
  width: 55%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px; /* figma: 24px; */
}
.teams-details {
  width: 45%;
  max-width: 402.75px;
}
.quick {
  color: var(--Dark-03);
  font-weight: 500;
}

.feat {
  color: #ff900e;
}

.teams-details .common-description {
  margin: 24px 0 /* figma: 32px , 24*/;
}
/* Team Section End */

/* Facts Section Start */
.facts {
  padding: 100px 0;
}
.facts-details {
  max-width: 406.5px /*542px*/;
}

.facts-card-container {
  margin-top: 75px;
  margin-bottom: 37.5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.facts-card-container .card {
  padding: 30px;
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  width: 22%;
}
.facts-card-container .card .card-img img {
  width: auto;
}
.facts-card-container .card h2 {
  color: var(--Dark-02);
  font-size: 2.11rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
.facts-card-container .card p {
  color: var(--Dark-03);
  font-size: 0.94rem;
  font-weight: 600;
}
/* Facts Section End */
