@media (max-width: 575.98px) {
  .container {
    width: 90%;
  }
  .common-heading {
    font-size: 1.9rem; /*figma: 45px*/
    line-height: 40px;
  }
  .common-button {
    font-size: 0.8rem;
  }

  header nav {
    flex-direction: column;
    gap: 12px;
  }
  header .common-heading {
    font-size: 1.7rem;
  }
  .menu-item-container > ul {
    gap: 30px;
  }

  .banner-texts {
    margin-bottom: 30.5px; /* figma: 70px */
    margin-top: 30.5px;
  }
  .banner-heading {
    font-size: 2rem;
  }
  .banner .common-description {
    margin: 18px 0 /* figma: 32px , 24*/;
  }

  .teams .container {
    flex-direction: column-reverse;
    padding: 50px 10px;
  }
  .teams-details {
    width: 100%;
    text-align: center;
  }
  .team-image-container {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .container {
    width: 80%;
  }
  .common-heading {
    font-size: 1.9rem; /*figma: 45px*/
    line-height: 40px;
  }
  .common-button {
    font-size: 0.8rem;
  }

  header nav {
    flex-direction: column;
    gap: 12px;
  }
  header .common-heading {
    font-size: 1.7rem;
  }
  .menu-item-container > ul {
    gap: 30px;
  }

  .banner-texts {
    margin-bottom: 30.5px; /* figma: 70px */
    margin-top: 30.5px;
  }
  .banner-heading {
    font-size: 2rem;
  }
  .banner .common-description {
    margin: 18px 0 /* figma: 32px , 24*/;
  }
  .teams .container {
    flex-direction: column-reverse;
    padding: 50px 10px;
  }
  .teams-details {
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
  .team-image-container {
    width: 100%;
    /* grid-template-columns: 1fr; */
  }
}
